$source-code: 'Roboto Mono', monospace;
$work-sans: 'Roboto', sans-serif;

@import "main";

.communicate .suscribe-input {
  font-size: 15px!important;
}

.nav.navbar-nav li a {
  font-size: 12px!important;
}